%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% cp_profile configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, Feb 2016
% Climate Research Group, University of Queensland
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% config specs
%
% left column  -> variable name
% right column -> variable value
% DELIMITER    -> ~ #########################<<<<<---- THIS IS IMPORTANT
% Comments     -> ~%
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% CP_PROCESS CONFIG
%
% Paths
sodarrass_path~     /run/media/meso/DATA/phd/obs/profile/sodar-rass/aprun_reprocessed/
sounding_path~      /run/media/meso/DATA/phd/obs/profile/sounding/ybbn/
out_path~           /run/media/meso/DATA/phd/obs/profile/
%
% sodar/rass constants
site_h~             22      ~%meters
skip_wraob~         1       ~%skip wind raob files (1 or 0)
utc_offset~         10      ~%utc offset in hours for adjusting UA02D times
%
% mslp dataset for dewpoint calculation
wind_aws_path~       /media/meso/DATA/phd/obs/aws/HM01X_Data_040842.txt
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% CONFIG
%
% paths
cp_data_ffn~        /run/media/meso/DATA/phd/obs/profile/cp_data_201604011039.mat
%
% target time
%
plot_dt_str~      2014_01_20_22:00     ~% target dr to plot profiles for cp_plot yyyy_mm_dd_HH:MM
sd_max_time_diff~ 2
sr_max_time_diff~ 1                    ~% max different between target time and obs time for cp_mean (hrs)
%
% interpolation
%
min_h~             80       ~% minimum height for interpolation (m)
max_h~             500      ~% maximum height for interpolation (m)
bin_h~             10       ~% height interpolation bin site (m)

min_h_diurnal~     50        ~% minimum height for interpolation (m)
max_h_diurnal~     5000     ~% maximum height for interpolation (m)
bin_h_diurnal~     50      ~% height interpolation bin site (m)


%
% sectors
%
s1_min~             20      ~% sector 1 min angle degTN
s1_max~             100      ~% sector 1 max angle degTN
s2_min~             100     ~% sector 2 min angle degTN
s2_max~             160     ~% sector 2 max angle degTN
%
% output
%
cp_image_path~     tmp/img/