%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% cp_profile configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, Feb 2016
% Climate Research Group, University of Queensland
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% config specs
%
% left column  -> variable name
% right column -> variable value
% DELIMITER    -> ~ #########################<<<<<---- THIS IS IMPORTANT
% Comments     -> ~%
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% CP_PROCESS CONFIG
%
% Paths
sodarrass_path~     /media/meso/DATA/phd/obs/profile/sodar-rass/aprun_reprocessed/
sounding_path~      /media/meso/DATA/phd/obs/profile/sounding/ybbn/
out_path~           /media/meso/DATA/phd/obs/profile/
%
% sodar/rass constants
site_h~             22      ~%meters
skip_wraob~         1       ~%skip wind raob files (1 or 0)
utc_offset~         10      ~%utc offset in hours for adjusting UA02D times
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% CP_PLOT and CP_MEAN CONFIG
%
% paths
cp_data_ffn~        /media/meso/DATA/phd/obs/profile/cp_data_201603171745.mat
%
% target time
%
plot_dt_str~      2014_01_20_22:00     ~% target dr to plot profiles for cp_plot yyyy_mm_dd_HH:MM
mean_time~        10                   ~% target time to find profiles for cp_mean HH
max_time_diff~    2                    ~% max different between target time and obs time for cp_mean (hrs)
sr_snd_dist~      26.6                 ~%distance between sr and sounding (km)
%
% interpolation
%
min_h~             10       ~% minimum height for interpolation (m)
max_h~             700      ~% maximum height for interpolation (m)
bin_h~             10       ~% height interpolation bin site (m)
%
% output
%
cp_image_path~     tmp/img/